/* Navigation */
#main-nav .container {
  grid-template-columns: repeat(2, 1fr);
}

#main-nav .social {
  display: none;
}

/* Home articles */
#home-articles .articles-container {
  grid-template-columns: repeat(2, 1fr);
}

#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child {
  grid-template-columns: 1fr;
  grid-column: 1;
}

@media (max-width: 500px) {
  #showcase .showcase-container {
    grid-template-columns: 1fr;
  }
  #home-articles .articles-container {
    grid-template-columns: 1fr;
  }
  #main-footer .footer-container {
    grid-template-columns: 1fr;
  }
  #main-footer .footer-container > *:last-child {
    grid-column: 1;
  }
  .page-container {
    grid-template-columns: 1fr;
  }
  .page-container > *:first-child {
    grid-row: 1;
  }
}
